<html>
<head>
    <title>Yarn Stash</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Yarn Stash</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Created by Mirkka Kato</p>
    </footer>
</body>
</html>
